@model List<Park>
@using Capstone.Web.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @foreach (Park p in Model)
    {
        <div class="category-info">
            <a href="~/Home/Detail/@p.ParkCode">
                <div class="image" style="height:100px;width:600px">
                    <img src="~/Content/parks/@(p.ParkCode.ToLower()+".jpg")" alt="@p.ParkDescription" />
                </div>
            </a>
            <h1 style="color:white">@p.ParkName</h1>

        </div>


        
    }
    <br />
    <br />
    <br />
    <br />
</body>

