@model List<Park>
@using Capstone.Web.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @foreach (Park p in Model)
    {
        <a href="~/Home/Detail/@p.ParkCode">
            <img src="~/Content/parks/@(p.ParkCode.ToLower()+".jpg")" alt="@p.ParkDescription" />
            <p>@p.ParkName</p>
        </a>
    }
    <div> 
        
    </div>
</body>

