@model List<Park>
@using Capstone.Web.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    
    @foreach (Park p in Model)
    {
        <div class="category-info">
            <a href="~/Home/Detail/@p.ParkCode">
                
                <p style="float: left; font-size: 9pt; text-align: center; width: 19%; margin-right: .5%; margin-bottom: 0.5em;"><img src="~/Content/parks/@(p.ParkCode.ToLower()+".jpg")" style="width: 100%">@p.ParkName</p>
            </a>
            @*<h1 style="color:white">@p.ParkName</h1>*@

        </div>



    }
    <p style="clear: both;">
        <br />
        <br />
        <br />
        <br />
</body>

